@using ToDoIdentity.Models
@model Performer

<h2>Исполнитель</h2>
<br />
<fieldset>
    <legend><h3>Пожалуйста, заполните необходимые поля</h3></legend>
    @using (Html.BeginForm("Create", "Performers", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.EditorForModel()

        <input type="submit" value="Сохранить" class="btn btn-secondary" />
        @Html.ActionLink("Отменить", "Index", "Performers", null, new { @class = "btn btn-danger" })
    }
</fieldset>